*{
  margin: 0;
  padding: 0;
}


.span_nav{
  color: aqua;
}

.icon_nav{
  color: white;
  margin-left: 5px;
}

.separador_nav{
  border-right: 1px solid white;
  /*border-left: 1px solid white;*/
}

.link_nav{
  margin-right: 0px;
  margin-left: -10px;
}

.icon_login{
  font-size: 9rem;
}

.main{
  margin-left: 5rem;
  padding: 1rem;
}
.nav-custom{
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: black;

}

.nav-custom-ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-custom-ul{
  margin-top: auto;
}
.wrapper .top_navbar{
	width: 100%;
	height: 65px;
	display: flex;
	position: fixed;
	top: 0;
}

.wrapper .top_navbar .logo{
	width: 250px;
	height: 100%;
	background: #3421C0;
	border-bottom: 1px solid #22119d;
}

.wrapper .top_navbar .logo a{
	display: block;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
  	font-size: 20px;
  	color: #fff;
  	padding: 20px 0;
}

.wrapper .top_navbar .top_menu{
	width: calc(100% - 250px);
	height: 100%;
	background: #fff;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .top_navbar .top_menu .home_link a{
	display: block;
    background: #3421C0;
    color: #fff;
    padding: 8px 15px;
    border-radius: 3px;
}

.wrapper .top_navbar .top_menu .home_link a:hover,
.wrapper .top_navbar .right_info .icon_wrap:hover {
    background: aquamarine;
}

.wrapper .top_navbar .right_info{
	display: flex;
}

.wrapper .top_navbar .right_info .icon_wrap{
	padding: 8px 15px;
    border-radius: 3px;
	background: #3421C0;
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
}

.main_body .sidebar_menu{
	position: fixed;
  	left: 0;
  	background: #000;
  	width: 250px;
  	height: 100%;
  	transition: all 0.3s linear;
}

.main_body .sidebar_menu .inner__sidebar_menu{
	position: relative;
}

.main_body .sidebar_menu ul li a{
  color: white;
  font-size: 18px;
  padding: 20px 35px;
  display: block;
  white-space: nowrap;
}

.main_body .sidebar_menu ul li a .icon{
  margin-right: 8px;
}

.main_body .sidebar_menu ul li a span{
  display: inline-block;
}

.main_body .sidebar_menu ul li a:hover{
  background: gray;
  color: aquamarine;
}

.main_body .sidebar_menu ul li a.active{
  background: gray;
  color: aquamarine;
}

.main_body .sidebar_menu .hamburger{
  position: absolute;
  top: 5px;
  right: -25px;
  width: 50px;
  height: 50px;
  background: #e8edf5;
  border-radius: 50%;
  cursor: pointer;
}

.main_body .sidebar_menu .inner_hamburger,
.main_body .sidebar_menu .hamburger .arrow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.main_body .sidebar_menu .inner_hamburger{
  width: 40px;
  border-radius: 50%;
  height: 40px;
  background: #000;
}

.main_body .sidebar_menu .hamburger .arrow{
  color: #fff;
  font-size: 20px;
}

.main_body .sidebar_menu .hamburger  .fa-long-arrow-alt-right{
  display: none;
}

.main_body .container{
	width: calc(100% - 250px);
	margin-top: 65px;
	margin-left: 250px;
	padding: 25px 40px;/*25px 40px */
  transition: all 0.3s linear;
  text-align: center;
}

.main_body .container .item_wrap{
	display: flex;
	margin-bottom: 20px;
}

.main_body .container .item_wrap .item{
	background: #fff;
	border: 1px solid #e0e0e0;
	padding: 25px;
	font-size: 14px;
	line-height: 22px;
}

.main_body .container .item_wrap .item:first-child{
	margin-right: 0px;/*25px*/
}

/* after adding active  */
.wrapper.active .sidebar_menu{
  width: 100px;
}

.wrapper.active .hamburger .fa-long-arrow-alt-right{
  display: block;
}

.wrapper.active .hamburger .fa-long-arrow-alt-left{
  display: none;
}

.wrapper.active .sidebar_menu ul li a .list{
  display: none;
}

.wrapper.active .main_body .container{
  width: calc(100% - 100px);
  margin-left: 100px;
}

.sidebar_avatar{
  width: 100%;
  border-radius: 50%;
  border: 1px solid aquamarine;
}
.row_sidebar i, a{
  color: white;
  cursor: pointer;
}

.row_sidebar a:hover{
  color: aquamarine;
}
.row_sidebar i:hover{
  color: aquamarine;
}
 .row_sidebar i.active{
  background: gray;
  color: aquamarine;
}

.row_sidebar{
  display: flex;
  flex-wrap: wrap;
}
.wrapper.active .sidebar_menu .row_sidebar i{
  display: none;
} 

.wrapper.active .sidebar_menu .user_data{
  display: none;
}

.colum_4{
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
    width: 100%;
    min-height: 1px;
}
.wrapper.active .sidebar_menu .div_avatar{
  padding-left: 0px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}






@media (max-width : 400px){
  /* Estilos navbar */
  .span_nav {
    display: none;
  }
  .icon_nav{
    margin-left: 20px;
  }
  .link_nav{
    margin-right: 25px;
  }
  .icon_login{
    font-size: 5rem;
  }

  /* Estilos sidebar */
  .container{
    width: 100%;

  }
  .main_body .container{
    width: 100%;
    margin-left: 0px;
  }
  .wrapper.active .main_body .container{
    width: 100%;
    margin-left: 0px;
  }

  .wrapper.active .sidebar_menu{
    width: 0px;
  }
  .wrapper.active .sidebar_menu ul li a{
    display: none;
  }

  .sidebar_avatar{
    width: 50%;
  }

  .wrapper.active .sidebar_menu .row_sidebar i{
    display: none;
  }
}


.user-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-bottom: 1px;
}
.user-container .user-image{
  display:flex;
  justify-content: center;
  height: 100px;
  width: auto;
  border-radius: 10px;
  background-color:lavender;

}
.user-container .user-image img{
 width: 100px;
 border-radius:50%;
 overflow: hidden;
}

.user-container .user-information{
  display: flex;
  flex-direction: column;
}

.user-container .user-information p{
  margin-left: 2px;
}

.user-container .user-information small{
  margin-left:5px;
}

.user-container .user-information .information-footer{
  display:flex;
  flex:100%;
  flex-direction:row;
  justify-content: space-between;
}

.user-container .user-information .information-footer strong{
  font-size: x-small;
}

.user-container .user-information .information-footer .icon-t{
margin-left: 3px;
margin-right: 3px;
cursor: pointer;
}

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

.container-persons{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.cont-users{
  width:80%;
  max-height: 100px;
  overflow: auto;
}
.cont-r{
  width:10%
}

.container-m{
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.container-row{
  width: 100%;
  display:flex;
  flex-direction: row;
  margin-top: 2px;
}

.row-l{
  width:20%;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  border-right: 3px solid white;
}

.row-l-t{
  display: flex;
  flex-direction: column;
}

.row-l-b{
  display: flex;
  flex-direction: column;
}

.row-r{
  width:80%;
 
}

.row-r-t{
  display: flex;
  flex-direction: column;
}

.row-r-b{
  display: flex;
  flex-direction: column;
}

.r-b-b{
  display: flex;
  flex-direction: row;
  
}

.meeting-options{
  display: flex;
  flex-direction: row;

}

.meeting-options > span{
  padding-top: 0px;
}

@media(max-width:400px){
  .row-l{
    width: 40%;
  }
  .row-r{
    width: 60%;
  }

  .r-b-b{
    flex-direction: column;
    justify-content: center;
  }
  .r-b-b button{
    width: 50%;
    margin: auto;
  }
  .meeting-options{
    flex-direction: column;
  }
}